@model TPFinalFernandaBuffa.Models.Usuario

@{
    ViewData["Title"] = "Detalles del Usuario";
}

<div class="container mt-5">
    <h1 class="text-center">Detalles del Usuario</h1>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <h4 class="text-primary">Información del Usuario</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-3">Nombre</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Nombre)</dd>

                <dt class="col-sm-3">Correo Electrónico</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.CorreoElectronico)</dd>

                <dt class="col-sm-3">Contraseña</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Contraseña)</dd>

                <dt class="col-sm-3">Fotografía</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Fotografia)</dd>
            </dl>

            <div class="form-group text-center">
                <a class="btn btn-info mr-2" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a>
                <a class="btn btn-secondary" asp-action="Index">Volver a la lista</a>
            </div>
        </div>
    </div>
</div>
